In [1]:
'1. What is data encoding? How is it useful in data science?'

'1. What is data encoding? How is it useful in data science?'

In [2]:
'Data encoding is a process in which we convert non numerical data into numerical values. By this we can easily read and analyse the data which results in better performance of Machine learning models'

'Data encoding is a process in which we convert non numerical data into numerical values. By this we can easily read and analyse the data which results in better performance of Machine learning models'

In [3]:
'2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.'

'2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.'

In [4]:
'''The type of encoding in which categorical datas are equally favorable are coverted into numerical value is called nominal encoding.
Example: Suppose we have color as a attribute in a data we need to analyse this categorical data.'''

'The type of encoding in which categorical datas are equally favorable are coverted into numerical value is called nominal encoding.\nExample: Suppose we have color as a attribute in a data we need to analyse this categorical data.'

In [5]:
'3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.'

'3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.'

In [6]:
'4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.'

'4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.'

In [7]:
'''Here we will use nominal or one-hot encoding. Since, we have less no of data and it will be easier for machine learning algorithm to understand and analyze the data.'''

'Here we will use nominal or one-hot encoding. Since, we have less no of data and it will be easier for machine learning algorithm to understand and analyze the data.'

In [9]:
'5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.'

'5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.'

In [21]:
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
data=sns.load_dataset('iris')
df=pd.DataFrame(data)
encoder=OneHotEncoder()
encoded=encoder.fit_transform([['species']]).toarray()
new_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())
pd.concat([df,new_df],axis=1)

,sepal_length,sepal_width,petal_length,petal_width,species,x0_species
0,5.1,3.5,1.4,0.2,setosa,1.0
1,4.9,3.0,1.4,0.2,setosa,NaN
2,4.7,3.2,1.3,0.2,setosa,NaN
3,4.6,3.1,1.5,0.2,setosa,NaN
4,5.0,3.6,1.4,0.2,setosa,NaN
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,NaN
146,6.3,2.5,5.0,1.9,virginica,NaN
147,6.5,3.0,5.2,2.0,virginica,NaN
148,6.2,3.4,5.4,2.3,virginica,NaN
149,5.9,3.0,5.1,1.8,virginica,NaN