In [1]:
'1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.'

'1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.'

In [2]:
'''In ordinal encoding numerical values are assigned to catogarical datas according to the level(preference) whereas in lable encoding it is done by the basis of alphaetical order or no of occurance of data.'''

'In ordinal encoding numerical values are assigned to catogarical datas according to the level(preference) whereas in lable encoding it is done by the basis of alphaetical order or no of occurance of data.'

In [3]:
'2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.'

'2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.'

In [4]:
'''In Target Guided Ordinal Encoding, we replace each category in the categorical variable with a numerical value based on the mean or median of the target variable for that category. This creates a monotonic relationship between the categorical variable and the target variable, which can improve the predictive power of our model.
Example: suppose we have three columns size, location, price and we need to check which location will be best for living on the basis of other two columns we can target location as target guided ordinal encoding.'''

'In Target Guided Ordinal Encoding, we replace each category in the categorical variable with a numerical value based on the mean or median of the target variable for that category. This creates a monotonic relationship between the categorical variable and the target variable, which can improve the predictive power of our model.\nExample: suppose we have three columns size, location, price and we need to check which location will be best for living on the basis of other two columns we can target location as target guided ordinal encoding.'

In [5]:
'3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?'

'3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?'

In [6]:
'Covariance measures the direction of the relationship between two variables. A positive covariance means that both variables tend to be high or low at the same time. A negative covariance means that when one variable is high, the other tends to be low. It is calculated by multiplying both the variables'

'Covariance measures the direction of the relationship between two variables. A positive covariance means that both variables tend to be high or low at the same time. A negative covariance means that when one variable is high, the other tends to be low. It is calculated by multiplying both the variables'

In [7]:
'''4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium, large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. Show your code and explain the output.'''

"4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium, large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. Show your code and explain the output."

In [8]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
df = pd.DataFrame({
    'color': ['red', 'green', 'blue'],
    'Size': ['small', 'medium', 'large'],
    'Material': ['wood','metal','plastic']
})
df

   color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [9]:
encoder=LabelEncoder()
encoded=encoder.fit_transform(df['color'])
new_df= pd.DataFrame(encoded, columns=['color_value'])
pd.concat([df,new_df], axis=1)

   color    Size Material  color_value
0    red   small     wood            2
1  green  medium    metal            1
2   blue   large  plastic            0

In [10]:
'5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.'

'5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.'

In [11]:
df = pd.DataFrame({
    'Age': [25,30,28],
    'Income': [50000,35000,70000],
    'Educaion_level': ['Graduate','High school','Post-Graduate']
})
df.cov()

/tmp/ipykernel_978/364664732.py:6: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                 Age        Income
Age         6.333333 -1.416667e+04
Income -14166.666667  3.083333e+08

In [12]:
'''6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?'''

'6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor\'s/Master\'s/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?'

In [13]:
'''For Gender we will use One-Hot encoding. Because we have only two unique values.
For Educational level and Employment status we will use Ordinal encoding.'''

'For Gender we will use One-Hot encoding. Because we have only two unique values.\nFor Educational level and Employment status we will use Ordinal encoding.'

In [14]:
'''7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/ East/West). Calculate the covariance between each pair of variables and interpret the results.'''

'7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/ East/West). Calculate the covariance between each pair of variables and interpret the results.'

In [15]:
df = pd.DataFrame({
    'Temperature': [30,23,28],
    'Humidity': [50,92,78],
    'Weather_Condition': ['Sunny','Rainy','cloudy'],
    'Wind_Direction': ['East','South','West']
})
df

   Temperature  Humidity Weather_Condition Wind_Direction
0           30        50             Sunny           East
1           23        92             Rainy          South
2           28        78            cloudy           West

In [16]:
df.cov()

/tmp/ipykernel_978/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

             Temperature    Humidity
Temperature         13.0  -70.000000
Humidity           -70.0  457.333333