In [1]:
'1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.'

'1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.'

In [4]:
import pandas as pd
import numpy as np
data= np.array([4,8,15,16,23,42])
series= pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
'2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.'

'2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.'

In [6]:
import pandas as pd
lst=[1,2,3,4,5,6,7,8,9,10]
series1= pd.Series(lst)
print(series1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [7]:
''' Create a Pandas DataFrame that contains the following data: 
Name
Alice
Bob
Claire
Age
25
30
27
Gender
Female
Male
Female
Then, print the DataFrame.'''

' Create a Pandas DataFrame that contains the following data: \nName\nAlice\nBob\nClaire\nAge\n25\n30\n27\nGender\nFemale\nMale\nFemale\nThen, print the DataFrame.'

In [13]:
import pandas as pd
data=[['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]
df=pd.DataFrame(data,columns=['Name','Age','Gender'])
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [9]:
'4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.'

'4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.'

In [10]:
'''A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns
A Pandas Series is like a column in a table.It is a one-dimensional array holding data of any type.

Above two questions may be considered as example of Series and DataFrame respectively'''

'A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns\nA Pandas Series is like a column in a table.It is a one-dimensional array holding data of any type.\n\nAbove two questions may be considered as example of Series and DataFrame respectively'

In [11]:
'5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?'

'5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?'

In [14]:
'''Some of the most common functions are:
head(), tail(), columns, dtypes'''
df.head(2)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [15]:
'''6. Which of the following is mutable in nature Series, DataFrame, Panel?'''

'6. Which of the following is mutable in nature Series, DataFrame, Panel?'

In [16]:
'''DataFrame and Pandas panel are mutable'''

'DataFrame and Pandas panel are mutable'

In [17]:
'''7. Create a DataFrame using multiple Series. Explain with an example.'''

'7. Create a DataFrame using multiple Series. Explain with an example.'

In [23]:
import pandas as pd
Name=pd.Series(['Abhishek','Rajesh','Garima','Gaurav','Shreyansh','Akanksha'],name='Name')
Marks=pd.Series([95,75,78,83,65,59],name='Marks')
Branch=pd.Series(['MME','Bio Med','Mech','ECE','MIning','IT'],name='Branch')
df=pd.concat([Name,Marks,Branch],axis=1)
print(df)

        Name  Marks   Branch
0   Abhishek     95      MME
1     Rajesh     75  Bio Med
2     Garima     78     Mech
3     Gaurav     83      ECE
4  Shreyansh     65   MIning
5   Akanksha     59       IT