In [1]:
'1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose you have collected data on the amount of time students spend studying for an exam and their final exam scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.'

'1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose you have collected data on the amount of time students spend studying for an exam and their final exam scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.'

In [2]:
import pandas as pd
df=pd.DataFrame({
    'Studying_hours':[5,8,3,9,7],
    'Marks':[67,83,42,98,80]
})
df.corr(method='pearson')

                Studying_hours     Marks
Studying_hours        1.000000  0.983136
Marks                 0.983136  1.000000

In [3]:
'''2. Spearman's rank correlation is a measure of the monotonic relationship between two variables. Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result.'''

"2. Spearman's rank correlation is a measure of the monotonic relationship between two variables. Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result."

In [4]:
df=pd.DataFrame({
    'Sleep':[5,8,6,9,7],
    'Job_satisfaction':[8,5,10,4,7]
})
df.corr(method='spearman')

                  Sleep  Job_satisfaction
Sleep               1.0              -0.9
Job_satisfaction   -0.9               1.0

In [5]:
'''3. Suppose you are conducting a study to examine the relationship between the number of hours of exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation between these two variables and compare the results.'''

"3. Suppose you are conducting a study to examine the relationship between the number of hours of exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation between these two variables and compare the results."

In [6]:
import random
slp=[]
bmi=[]
for i in range(1,51):
    slp.append(random.randint(5,20))
    bmi.append(random.randint(18,25))
df=pd.DataFrame({
    'Sleep':slp,
    'BMI':bmi
})
pearson= df.corr(method='pearson')
spearman=df.corr(method='spearman')

In [7]:
df

    Sleep  BMI
0      13   24
1      11   25
2      10   19
3       9   23
4      17   20
5       7   20
6       9   24
7      20   23
8       5   25
9       9   24
10      8   23
11     11   19
12     13   22
13      6   21
14     18   18
15     20   18
16      6   25
17     10   25
18     18   23
19      8   25
20     14   20
21     18   20
22     14   18
23     11   23
24     13   20
25     20   25
26     14   20
27     14   24
28     17   22
29     15   21
30      5   19
31     14   18
32     10   19
33     12   22
34     19   23
35      5   18
36     16   25
37     12   22
38      9   19
39     15   25
40     19   20
41     20   18
42     15   20
43      6   23
44     16   25
45     20   23
46     10   20
47      5   25
48     11   22
49     16   25

In [8]:
pearson

          Sleep       BMI
Sleep  1.000000 -0.110177
BMI   -0.110177  1.000000

In [9]:
spearman

          Sleep       BMI
Sleep  1.000000 -0.106716
BMI   -0.106716  1.000000

In [10]:
'''4. A researcher is interested in examining the relationship between the number of hours individuals spend watching television per day and their level of physical activity. The researcher collected data on both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between these two variables.'''

'4. A researcher is interested in examining the relationship between the number of hours individuals spend watching television per day and their level of physical activity. The researcher collected data on both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between these two variables.'

In [11]:
tv=[]
pa=[]
for i in range(1,51):
    tv.append(random.randint(5,10))
    pa.append(random.randint(1,5))
df=pd.DataFrame({
    'TV':tv,
    'Physical activities':pa
})
df.corr(method='pearson')

                           TV  Physical activities
TV                   1.000000             0.115816
Physical activities  0.115816             1.000000

In [12]:
'5. A survey was conducted to examine the relationship between age and preference for a particular brand of soft drink. The survey results are shown below:'

'5. A survey was conducted to examine the relationship between age and preference for a particular brand of soft drink. The survey results are shown below:'

In [13]:
'''6. A company is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.'''

'6. A company is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.'

In [14]:
calls=[]
sales=[]
for i in range(1,31):
    calls.append(random.randint(5,10))
    sales.append(random.randint(15,30))
df=pd.DataFrame({
    'Calls made per day':calls,
    'sales per week':sales
})
df.corr(method='pearson')

                    Calls made per day  sales per week
Calls made per day            1.000000        0.129581
sales per week                0.129581        1.000000