In [1]:
'''1. List any five functions of the pandas library with execution.'''

'1. List any five functions of the pandas library with execution.'

In [2]:
'''The functions in Pandas library are:
head()
tail()
Series()
DataFrame()
read_csv()'''

'The functions in Pandas library are:\nhead()\ntail()\nSeries()\nDataFrame()\nread_csv()'

In [3]:
'''2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row'''

"2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row"

In [4]:
import pandas as pd
data={'A':[1,2,3],'B':[4,8,5],'C':[6,9,20]}
df=pd.DataFrame(data, index=[1,3,5])
print(df)

   A  B   C
1  1  4   6
3  2  8   9
5  3  5  20

In [5]:
'''3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.'''

"3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console."

In [6]:
data1={'Values':[10, 20, 30, 40, 50]}
df1=pd.DataFrame(data1)
l=[]
for i in df1['Values']:
    l.append(i)
def sum1():
    return l[0]+l[1]+l[2]
sum1()

60

In [7]:
'''4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.'''

"4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column."

In [8]:
data={'Text':['Braund, Mr. Owen Harris','Cumings, Mrs. John Bradley','Heikkinen, Miss. Laina','Futrelle, Mrs. Jacques Heath (Lily May Peel)','Allen, Mr. William Henry','Graham, Miss. Margaret Edith','Johnston, Miss. Catherine Helen "Carrie"','Behr, Mr. Karl Howell','Dooley, Mr. Patrick']}
df2=pd.DataFrame(data)
print(df2)

                                           Text
0                       Braund, Mr. Owen Harris
1                    Cumings, Mrs. John Bradley
2                        Heikkinen, Miss. Laina
3  Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                      Allen, Mr. William Henry
5                  Graham, Miss. Margaret Edith
6      Johnston, Miss. Catherine Helen "Carrie"
7                         Behr, Mr. Karl Howell
8                           Dooley, Mr. Patrick

In [9]:
l=[]
def count(x):
    l=x.split()
    return l[0]
df2['Word_count']=df2['Text'].apply(lambda x: count(x))
print(df2)

                                           Text  Word_count
0                       Braund, Mr. Owen Harris     Braund,
1                    Cumings, Mrs. John Bradley    Cumings,
2                        Heikkinen, Miss. Laina  Heikkinen,
3  Futrelle, Mrs. Jacques Heath (Lily May Peel)   Futrelle,
4                      Allen, Mr. William Henry      Allen,
5                  Graham, Miss. Margaret Edith     Graham,
6      Johnston, Miss. Catherine Helen "Carrie"   Johnston,
7                         Behr, Mr. Karl Howell       Behr,
8                           Dooley, Mr. Patrick     Dooley,

In [10]:
'''5. How are DataFrame.size() and DataFrame.shape() different?'''

'5. How are DataFrame.size() and DataFrame.shape() different?'

In [11]:
'''DataFrame.size(): The size property is used to get an int representing the number of elements in this object and Return the number of rows if Series. Otherwise, return the number of rows times the number of columns if DataFrame.
DataFrame.shape(): The shape property is used to get a tuple representing the dimensionality of the Pandas DataFrame.'''

'DataFrame.size(): The size property is used to get an int representing the number of elements in this object and Return the number of rows if Series. Otherwise, return the number of rows times the number of columns if DataFrame.\nDataFrame.shape(): The shape property is used to get a tuple representing the dimensionality of the Pandas DataFrame.'

In [12]:
'''6. Which function of pandas do we use to read an excel file?'''

'6. Which function of pandas do we use to read an excel file?'

In [13]:
'''read_excel() function is used to open an excel file.'''

'read_excel() function is used to open an excel file.'

In [14]:
'''7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.'''

"7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address."

In [15]:
data3={'Email':['abhishek@gmail.com','deeksha@gmail.com','siddhartha@gmail.com','mahi@gmail.com','shubham@gmail.com']}
df3=pd.DataFrame(data3)
def user_name(x):
    l=x.split('@')
    return l[0]
df3['Username']=df3['Email'].apply(lambda x: user_name(x))
print(df3)

                  Email    Username
0    abhishek@gmail.com    abhishek
1     deeksha@gmail.com     deeksha
2  siddhartha@gmail.com  siddhartha
3        mahi@gmail.com        mahi
4     shubham@gmail.com     shubham

In [16]:
'''8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

   A   B   C

0  3   5   1

1  8   2   7

2  6   9   4

3  2   3   5

4  9   1   2
Your function should select the following rows:  
   A   B   C

1  8   2   7

4  9   1   2

The function should return a new DataFrame that contains only the selected rows.'''

"8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects\nall rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The\nfunction should return a new DataFrame that contains only the selected rows.\n\nFor example, if df contains the following values:\n\n   A   B   C\n\n0  3   5   1\n\n1  8   2   7\n\n2  6   9   4\n\n3  2   3   5\n\n4  9   1   2\nYour function should select the following rows:  \n   A   B   C\n\n1  8   2   7\n\n4  9   1   2\n\nThe function should return a new DataFrame that contains only the selected rows."

In [17]:
data4={'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]}
df4=pd.DataFrame(data4)
print('original Dataframe \n', df)
newdf=df4[(df4['A']>5) & (df4['B']<10)]
print('\nNew Dataframe \n',newdf)

original Dataframe
    A  B   C
1  1  4   6
3  2  8   9
5  3  5  20

New Dataframe
    A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [18]:
'''9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.'''

"9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column."

In [19]:
data5={'Values':[1,4,3,5,7,9,6,3,6,7,35,53,23,]}
df5=pd.DataFrame(data5)
print('Mean of values is: ',df5['Values'].mean())
print('Median of values is: ',df5['Values'].median())
print('Standard deviation  of values is: ',df5['Values'].std())

Mean of values is:  12.461538461538462
Median of values is:  6.0
Standard deviation  of values is:  15.425170904592838

In [20]:
'''10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.'''

"10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day."

In [21]:
date =pd.date_range(start='2022-04-11', end='2022-04-25')
data6={'Sales':[1000,3090,940,3555,2557,1029,4535,6464,5531,1324,5664,765,7976,3324,4580],
       'Date':date}
df6=pd.DataFrame(data6)
df6['MovingAverage']=df6['Sales'].rolling(7).mean()
print(df6)

    Sales       Date  MovingAverage
0    1000 2022-04-11            NaN
1    3090 2022-04-12            NaN
2     940 2022-04-13            NaN
3    3555 2022-04-14            NaN
4    2557 2022-04-15            NaN
5    1029 2022-04-16            NaN
6    4535 2022-04-17    2386.571429
7    6464 2022-04-18    3167.142857
8    5531 2022-04-19    3515.857143
9    1324 2022-04-20    3570.714286
10   5664 2022-04-21    3872.000000
11    765 2022-04-22    3616.000000
12   7976 2022-04-23    4608.428571
13   3324 2022-04-24    4435.428571
14   4580 2022-04-25    4166.285714

In [22]:
'''11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

         Date

0  2023-01-01

1  2023-01-02

2  2023-01-03

3  2023-01-04

4  2023-01-05

Your function should create the following DataFrame:


         Date    Weekday

0  2023-01-01    Sunday

1  2023-01-02     Monday

2  2023-01-03    Tuesday

3  2023-01-04    Wednesday

4  2023-01-05    Thursday

The function should return the modified DataFrame.'''

"11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.\n\nFor example, if df contains the following values:\n\n         Date\n\n0  2023-01-01\n\n1  2023-01-02\n\n2  2023-01-03\n\n3  2023-01-04\n\n4  2023-01-05\n\nYour function should create the following DataFrame:\n\n\n         Date    Weekday\n\n0  2023-01-01    Sunday\n\n1  2023-01-02     Monday\n\n2  2023-01-03    Tuesday\n\n3  2023-01-04    Wednesday\n\n4  2023-01-05    Thursday\n\nThe function should return the modified DataFrame."

In [23]:
df7=pd.DataFrame({'Date':date})
df7['Weekday']=df7['Date'].dt.day_name()
print(df7)

         Date    Weekday
0  2022-04-11     Monday
1  2022-04-12    Tuesday
2  2022-04-13  Wednesday
3  2022-04-14   Thursday
4  2022-04-15     Friday
5  2022-04-16   Saturday
6  2022-04-17     Sunday
7  2022-04-18     Monday
8  2022-04-19    Tuesday
9  2022-04-20  Wednesday
10 2022-04-21   Thursday
11 2022-04-22     Friday
12 2022-04-23   Saturday
13 2022-04-24     Sunday
14 2022-04-25     Monday

In [32]:
'''12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.'''

"12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'."

In [41]:
date1 =pd.date_range(start='2022-12-11', end='2023-02-25')
df8=pd.DataFrame({'Date':date1})
df8['Date'] = pd.to_datetime(df8['Date'], format='%Y-%m-%d')
new_df = df8.loc[(df8['Date'] >= '2020-09-01') & (df8['Date'] < '2020-09-15')]
print(new_df)

Empty DataFrame
Columns: [Date]
Index: []